<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <title> Dashboard | Farmland Bakery (M) Sdn. Bhd. </title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/table_style.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  {% include 'sidebar.html' %}
  <section class="home-section">
    {% include 'header.html' %}
    <div class="main-content">
      <!-- <div class="sort-filter-container">
        <div class="sort-by">
          <label for="sortBy">Sort by:</label>
          <select id="sortBy">
            <option value="status">Status</option>
            <option value="createdDate">Created Date</option>
            <option value="estTime">Estimated Time</option>
          </select>
        </div>
      
        <div class="order">
          <label for="order">Order:</label>
          <select id="order">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select>
        </div>
      
        <div class="show-lines">
          <label for="showLines">Show:</label>
          <select id="showLines">
            <option value="all">All</option>
            <option value="breadLine">Bread Line</option>
            <option value="wrapLine">Wrap Line</option>
          </select>
        </div>
      </div> -->
      {% include 'dashboard_table.html' %}
    </div>
  </section>
  <script src="{% static 'js/sidebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>