<!-- job_order_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Order Details</title>
</head>
<body>
    <h1>Job Order Details</h1>
    <p><strong>Job Order ID:</strong> {{ job_order.jobOrderId }}</p>
    <p><strong>Date Created:</strong> {{ job_order.jobOrderCreatedDate|date:"l, d M Y" }}</p>
    <p><strong>Status:</strong> {{ job_order.jobOrderStatus }}</p>

    <!-- Display the related recipes -->
    <h2>Recipes</h2>
    <ul>
        {% for recipe in job_order.recipes.all %}
            <li>
                <strong>Recipe ID:</strong> {{ recipe.recipeId }}<br>
                <strong>Recipe Name:</strong> {{ recipe.recipeName }}<br>
                <strong>Recipe Prod Date:</strong> {{ recipe.recipeProdDate }}<br>
                <!-- Display other fields of the recipe as needed -->
            </li>
        {% empty %}
            <p>No recipes found for this job order.</p>
        {% endfor %}
    </ul>

    <!-- Display the related products for each recipe -->
    <h2>Recipe's Products</h2>
    <ul>
        {% for recipe in job_order.recipes.all %}
            <li>
                <strong>Recipe ID:</strong> {{ recipe.recipeId }}<br>
                <strong>Products:</strong>
                <ul>
                    {% for product in recipe.products.all %}
                        <li>
                            <strong>Product ID:</strong> {{ product.productId }}<br>
                            <strong>Product Name:</strong> {{ product.productName }}<br>
                            <!-- Display other fields of the product as needed -->
                        </li>
                    {% empty %}
                        <p>No products found for this recipe.</p>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <p>No recipes found for this job order.</p>
        {% endfor %}
    </ul>

    <!-- Display the related activities -->
    <h2>Activities</h2>
    <ul>
        {% for recipe in job_order.recipes.all %}
            {% for activity in recipe.activity_recipe.all %}
                <li>
                    <strong>Recipe ID:</strong> {{ recipe.recipeId }}<br>
                    <strong>Activity:</strong> {{ activity.cutOffTime }} - {{ activity.spongeEnd }}<br>
                    <!-- Display other fields of the activity as needed -->
                </li>
            {% empty %}
                <p>No activities found for this recipe.</p>
            {% endfor %}
        {% empty %}
            <p>No recipes found for this job order.</p>
        {% endfor %}
    </ul>
</body>
</html>
