<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% load static %}
<div class="sidebar">
    <div class="logo-details">
      {% if user_role == 'manager' %}
          <a href="{% url 'manager_dashboard' %}">
      {% elif user_role == 'production' %}
          <a href="{% url 'dashboard' %}">
      {% else %}
          <a href="{% url 'worker_dashboard' %}">
      {% endif %}
          <img src="{% static 'img/FLlogo.png' %}" alt="Farmland Logo">
      </a>
      <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
      <li>
          {% if user_role == 'manager' %}
              <a href="{% url 'manager_dashboard' %}">
          {% elif user_role == 'production' %}
              <a href="{% url 'dashboard' %}">
          {% else %}
              <a href="{% url 'worker_dashboard' %}">
          {% endif %}
          <i class='bx bx-briefcase' ></i>
              <span class="links_name">Job Order</span>
          </a>
          <span class="tooltip">Job Order</span>
      </li>
      {% if user_role != 'packaging' and user_role != 'mixing' %}
      <li>
       <a href="{% url 'recipe_dashboard' %}">
        <i class='bx bx-book-content'></i>
         <span class="links_name">Recipe</span>
       </a>
       <span class="tooltip">Recipe</span>
     </li>
    {% endif %}
     <li>
       <a href="{% url 'archives' %}">
        <i class='bx bx-box' ></i>
         <span class="links_name">Archives</span>
       </a>
       <span class="tooltip">Archive</span>
     </li>
     <li>
      <!-- url 'podashboard'  -->
       <a href="">
        <i class='bx bx-cart' ></i>
         <span class="links_name">Purchase Order</span>
       </a>
       <span class="tooltip">Purchase Order</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <img src="{% static 'img/defaultpp.jpg' %}" alt="profileImg">
           <div class="name_job">
             <div class="name">{{ username }}</div>
             <div class="job">{{ user_role }}</div>
           </div>
         </div>
         <a href="{% url 'logout' %}"" id="logout_btn">
         <i class='bx bx-log-out' id="log_out"></i>
        </a>
     </li>
    </ul>
  </div>
</body>
</html>