<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Details | Farmland Bakery (M) Sdn. Bhd.</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/view.css' %}">
    <link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/OverlayScrollbars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>
</head>
<body>
{% load get_item %}
{% csrf_token %}
<div id="scrollContainer" class="scroll-area">
    {% include 'sidebar.html' %}
    <section class="home-section">
        {% include 'view_header.html' %}
        <div class="main-content">
            <div class="container">
                <div class="left-column">
                    <div class="big-card">
                        <div class="tab">
                            {% for date in sorted_dates %}
                                {% if forloop.first %}
                                    <button id="first-tablink"  data-day="{{ date }}" class="tablinks active">
                                        <span class="date-text">{{ date|date:"j" }}</span> <br> {{ date|date:"D" }}
                                    </button>
                                {% else %}
                                    <button data-day="{{ date }}" class="tablinks">
                                        <span class="date-text">{{ date|date:"j" }}</span> <br> {{ date|date:"D" }}
                                    </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% for date in sorted_dates %}
                            <div id="{{ date }}" class="tabcontent" {% if forloop.first %} style="display: block;" {% endif %}>
                                <p id="recipe-list">Recipe List</p>
                                <div class="content-container">
                                    <div class="card">
                                        <div class="first-column">
                                            <div class="tab-recipes" id="recipe-tabs">
                                                <!-- Loop through recipes within each production date group -->
                                                {% for rcp in recipes_by_date|get_item:date %}  
                                                {% if forloop.first %}
                                                <button class="tablinks-recipes opened" data-recipe-name="{{ rcp.recipeName }}" data-recipe-id="{{ rcp.recipeId }}">
                                                      {{ rcp.recipeName }}
                                                </button>
                                             {% else %}
                                                <button class="tablinks-recipes" data-recipe-name="{{ rcp.recipeName }}" data-recipe-id="{{ rcp.recipeId }}">
                                                      {{ rcp.recipeName }}
                                                </button>
                                             {% endif %}
                                          {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                    <div class="second-column">
                                        <div class="form-container">
                                            {% for rcp in recipes_by_date|get_item:date %}
                                            <form id="recipeForm" class="recipe-form" data-recipe-id="{{ rcp.recipeId }}">
                                                <div class="form-columns">
                                                    <div class="left-div">
                                                        <div class="input-container">
                                                            <label for="recipeName">Recipe Name</label>
                                                            <input type="text" id="recipeName" name="recipeName" value="{{ rcp.recipeName }}" required disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="productionRate">Production Rate</label>
                                                            <input type="number" id="productionRate" name="productionRate" value="{{ rcp.recipeProdRate }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="salesOrder">Total Sales Order</label>
                                                            <input type="number" id="salesOrder" name="salesOrder" value="{{ rcp.recipeTotalSales }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="waste">Budgeted Waste (%)</label>
                                                            <input type="number" id="waste" name="waste" value="{{ rcp.recipeWaste }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="stdTime">Required Std. Time</label>
                                                            <input type="text" id="stdTime" name="stdTime" value="{{ rcp.recipeStdTime|default:"" }}" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" placeholder="00:00:00" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="totalTray">Total Tray</label>
                                                            <input type="number" id="totalTray" name="totalTray" value="{{ rcp.recipeTotalTray }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="beltNo">Suction Cup Belt No.</label>
                                                            <input type="number" id="beltNo" name="beltNo" value="{{ rcp.recipeBeltNo }}" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="right-div">
                                                        <div class="input-container">
                                                            <label for="dateTimePicker">Production Date</label>
                                                            <input type="text" id="dateTimePicker" name="dateTimePicker" value="{{ rcp.recipeProdDate|date:"l, d M Y" }}" class="flatpickr-input" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="batchSize">Batch Size</label>
                                                            <input type="number" id="batchSize" name="batchSize" value="{{ rcp.recipeBatchSize }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="batches">Batches To Produce</label>
                                                            <input type="number" id="batches" name="batches" value="{{ rcp.recipeBatches }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="cycleTime">Cycle Time</label>
                                                            <input type="text" id="cycleTime" name="cycleTime" value="{{ rcp.recipeCycleTime|default:"" }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="spongeStartTime">Sponge Start Time</label>
                                                            <input type="text" id="spongeStartTime" name="spongeStartTime" value="{{ rcp.recipeSpongeStartTime|date:"l, d M Y H:i" }}" class="flatpickr-input" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="totalTrolley">Total Trolley</label>
                                                            <input type="number" id="totalTrolley" name="totalTrolley" value="{{ rcp.recipeTotalTrolley }}" disabled>
                                                        </div>
                                                        <div class="input-container">
                                                            <label for="gap">Gap</label>
                                                            <input type="text" id="gap" name="gap" value="{{ rcp.recipeGap|default:"" }}" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>                                            
                                            {% endfor %}
                                            <div class="footer" id="footer">
                                                <div class="footer-container">
                                                    <div class="revision-footer">
                                                        <button class="open-revisions" onclick="">You have pending revisions.</button>
                                                    </div>
                                                    <div class="buttons-footer">
                                                        {% if job_order.jobOrderStatus == "PENDING" %}
                                                            {% if user_role == "manager" %}
                                                                <button class="approve-button" onclick="approveJobOrder('{{ job_order.jobOrderId }}')">Approve</button>
                                                                <button class="revise-button" data-joborder-id="{{ job_order.jobOrderId }}">Revise</button>
                                                            {% else %}
                                                                <button class="submitted-button" disabled>Job Order Submitted</button>
                                                            {% endif %}
                                                        {% elif job_order.jobOrderStatus == "APPROVED" %}
                                                            {% if user_role == "production" %}
                                                                <button class="activate-button" onclick="activateJobOrder('{{ job_order.jobOrderId }}')">Activate</button>
                                                                <button class="edit-button" onclick="editJobOrder('{{ job_order.jobOrderId }}')">Edit</button>
                                                            {% else %}
                                                                <button class="approved-button" disabled>You have approved this Job Order</button>
                                                            {% endif %}
                                                        {% else %}
                                                            <button class="submit-button" onclick="submitJobOrder('{{ job_order.jobOrderId }}')">Submit</button>
                                                            <button class="edit-button" onclick="editJobOrder('{{ job_order.jobOrderId }}')">Edit</button>
                                                            <button class="delete-button" onclick="deleteJobOrder('{{ job_order.jobOrderId }}')">Delete</button>
                                                        {% endif %}
                                                    </div>   
                                                </div>                     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="right-column">
                    <div class="small-card" id="product-list">
                        <p id="small-header">Product List</p>
                        <div class="product-container">
                            {% for date in sorted_dates %}
                                {% for recipe in recipes_by_date|get_item:date %}
                                    {% for product in recipe.products.all %}
                                        <div class="product-item" data-recipe-id="{{ recipe.recipeId }}">
                                            <div class="product-info-container">
                                                <p>{{ product.productName }}</p>
                                                <p style="color: gray; font-size: 14px;">{{ product.client }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="small-card" id="tracker">
                        <p id="small-header">Progress Tracker</p>
                        <div id="progressContainer">
                            {% for date in sorted_dates %}
                                {% for recipe in recipes_by_date|get_item:date %}
                                    <!-- Display activities for the current recipe -->
                                    {% for activity in recipe.activity_recipe.all %}
                                <div class="activity-steps" data-recipe-id="{{ recipe.recipeId }}">
                                    <div class="progressStep" id="spongeStartProgress">
                                        <span class="progressLabel">Sponge Start</span>
                                        <span class="timeValue" id="spongeStartTimeTracker">{{ activity.spongeStart|date:"l, d M Y H:i" }}</span>
                                     </div>
                                     <div class="progressStep" id="spongeEndProgress">
                                        <span class="progressLabel">Sponge End</span>
                                        <span class="timeValue" id="spongeEndTimeTracker">{{ activity.spongeEnd|date:"l, d M Y H:i" }}</span>
                                     </div>
                                     <div class="progressStep" id="doughStartProgress">
                                        <span class="progressLabel">Dough Start</span>
                                        <span class="timeValue" id="doughStartTimeTracker">{{ activity.doughStart|date:"l, d M Y H:i" }}</span>
                                     </div>
                                     <div class="progressStep" id="doughEndProgress">
                                        <span class="progressLabel">Dough End</span>
                                        <span class="timeValue" id="doughEndTimeTracker">{{ activity.doughEnd|date:"l, d M Y H:i" }}</span>
                                     </div>
                                     <div class="progressStep" id="firstLoafPackedProgress">
                                        <span class="progressLabel">First Loaf Packed</span>
                                        <span class="timeValue" id="firstLoafPackedTracker">{{ activity.firstLoafPacked|date:"l, d M Y H:i" }}</span>
                                     </div>
                                     <div class="progressStep" id="cutOffProgress">
                                        <span class="progressLabel">Cut Off Time</span>
                                        <span class="timeValue" id="cutOffTimeTracker">{{ activity.cutOffTime|date:"l, d M Y H:i" }}</span>
                                     </div>
                                </div>
                                        {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            <div id="progressLine"></div>
                            <div id="progressLineOverlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reviseModal" class="modal" data-joborder-id="{{ job_order.jobOrderId }}">
            <div class="modal-content">
               <div class="modal-header">
                  <span class="close modal-close">&times;</span>
                  <h1>Add Revision</h1>
               </div>
               <p>Add revisions to make below.</p>
               <textarea id="revisionText" name="revisionText" placeholder="Enter revisions here..."></textarea>
               <br>
               <div class="modal-footer">
                <button id="submit-revision">Submit</button>
               </div>
            </div>
         </div>
    </section>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/scrollbar.js' %}"></script>
    <script src="{% static 'js/view_jo.js' %}"></script>
</div>
</body>
</html>
