<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="text" id="jobOrderInfo"></div>
      <div class="top-menu">
          <input type="text" placeholder="Search Job Orders">
          {% if user_role != 'mixing' and user_role != 'packaging' %}
          <a href="{% url 'create_joborder' %}">
              <button id="createJobOrderButton" data-user-id="{{ request.user.id }}">Create Job Order</button>
          </a>
      {% endif %}
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const jobOrderInfo = document.getElementById("jobOrderInfo");
        const storedJobOrderId = localStorage.getItem("jobOrderId");
        const storedJobOrderStatus = localStorage.getItem("jobOrderStatus");

        console.log("Job Order ID:", storedJobOrderId);
        console.log("Job Order Status:", storedJobOrderStatus);

        if (jobOrderInfo && storedJobOrderId && storedJobOrderStatus) {
            jobOrderInfo.innerHTML = storedJobOrderId + 
                " <button class='status-button status-" + storedJobOrderStatus.toLowerCase() + "'>" + storedJobOrderStatus + "</button>";
        }
      });
    </script>
  </body>
</html>
