<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="text" id="jobOrderInfo"></div>
      <div class="top-menu">
        <input type="text" id="searchInput" placeholder="Search Job Orders">
        <div id="searchResults" class="search-dropdown">
            <!-- Search results will appear here -->
        </div>
        {% if user_role == 'production' %}
        <div class="dropdown">
            <button id="createJobOrderButton">Create Job Order</button>
            <div id="dropdownContent" class="dropdown-content">
                <a href="{% url 'create_breadline' %}" data-user-id="{{ request.user.id }}">Bread Line</a>
                <a href="{% url 'create_wrapline' %}" data-user-id="{{ request.user.id }}">Wrap Line</a>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const jobOrderInfo = document.getElementById("jobOrderInfo");
    const storedJobOrderId = localStorage.getItem("jobOrderId");

    console.log("DOMContentLoaded event fired");
    console.log("Job Order Info Element:", jobOrderInfo);
    console.log("Stored Job Order ID:", storedJobOrderId);

    if (jobOrderInfo && storedJobOrderId) {
        console.log("Fetching updated job order status for ID:", storedJobOrderId);
        fetchUpdatedJobOrderStatus(storedJobOrderId);
    } else {
        console.log("Job Order Info element or stored ID not found");
    }
});

    function fetchUpdatedJobOrderStatus(jobOrderId) {
        $.ajax({
            type: "GET",
            url: `/get_job_order_status/${jobOrderId}/`,
            dataType: "json",
            success: function (response) {
                if (response.status === 'success') {
                    updateJobOrderHeader(jobOrderId, response.jobOrderStatus);
                } else {
                    console.error(response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function updateJobOrderHeader(jobOrderId, status) {
        const jobOrderInfo = document.getElementById("jobOrderInfo");
        if (jobOrderInfo) {
            jobOrderInfo.innerHTML = jobOrderId + 
                " <button class='status-button status-" + status.toLowerCase() + "'>" + status + "</button>";
        }
    }
</script>

  </body>
</html>
