<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <div class="header">
    <div class="text">Create Wrap Line Job Order</div>
    <div class="top-menu">
        <input type="text" placeholder="Search Job Orders">
        {% if user_role != 'mixing' and user_role != 'packaging' %}
        <div class="dropdown">
            <button id="createJobOrderButton">Create Job Order</button>
            <div id="dropdownContent" class="dropdown-content">
                <a href="{% url 'create_breadline' %}">Bread Line</a>
                <a href="{% url 'create_wrapline' %}">Wrap Line</a>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
</body>
</html>