.os-scrollbar-handle {
    background-color: rgba(4, 66, 168, 1) !important;
}

.os-scrollbar {
    margin: 2px;
}

.scroll-area {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    /* height: 80vh; */
}

.left-column {
    display: flex;
    flex-direction: column;
}

.big-card {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(4, 66, 168, 1);
    overflow: auto;
}

.right-column {
    display: flex;
    flex-direction: column;
}

#product-list {
    color: gray;
    padding: 15px;
}

#recipe-list {
    color: gray;
    padding-bottom: 10px;
}

.small-card {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(4, 66, 168, 1);
    height: 298px;
    display: flex;
    flex-direction: column;
    /* stack children vertically */
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px solid gray;
    width: 100%;
    /* Set the width to 100% */
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab button {
    flex: 1;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: rgba(4, 66, 168, 0.2);
}

.tab button.active {
    background-color: rgba(4, 66, 168, 0.2);
    border-left: 1px solid rgba(4, 66, 168, 1);
    border-right: 1px solid rgba(4, 66, 168, 1);
    border-bottom: 1px solid rgba(4, 66, 168, 1);
    color: rgba(4, 66, 168, 1)
}

.tab button:first-child.active {
    border-bottom: 1px solid rgba(4, 66, 168, 1);
    border-right: 1px solid rgba(4, 66, 168, 1);
    border-left: none;

}

.tab button:last-child.active {
    border-bottom: 1px solid rgba(4, 66, 168, 1);
    border-left: 1px solid rgba(4, 66, 168, 1);
    border-right: none;
}


.tabcontent {
    display: none;
    padding: 10px 20px 20px 20px;
    border-top: none;
}

.tabcontent.active {
    display: block;
}

.date-text {
    font-size: 20px;
    font-weight: 400;
    /* Adjust the font size as needed */
}

.content-container {
    display: flex;
    min-height: 60vh;
}

.first-column {
    flex: 1;
}

.second-column {
    flex: 3;
}

#recipe-details {
    max-width: 80%;
    /* Adjust as necessary */
    width: 100%;
}

.left-div {
    margin-left: 5vh;
}

.right-div {
    margin-left: 10vh;
}

.card .os-content,
.card .os-viewport {
    border-radius: 10px;
}


.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid rgba(4, 66, 168, 1);
    overflow: auto;
    height: 60vh;
    overflow-x: hidden;
}

.tab-recipes {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.tablinks-recipes {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 146px;
}

.add-recipe-tab {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
    color: gray;
    width: 146px;
}

.add-recipe-tab:hover {
    background-color: rgba(4, 66, 168, 0.2);
}

.tablinks-recipes:hover {
    background-color: rgba(4, 66, 168, 0.2);
}

.tablinks-recipes:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tablinks-recipes.opened:not(:first-child) {
    border-top: 1px solid rgba(4, 66, 168, 1);
}

.tablinks-recipes.opened {
    background-color: rgba(4, 66, 168, 0.2);
    color: rgba(4, 66, 168, 1);
    border-bottom: 1px solid rgba(4, 66, 168, 1);
}

/* The Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 102;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgba(4, 66, 168, 1);
    width: 30%;
    height: 60%;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: lighter;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#recipeForm {
    display: flex;
    flex-direction: column;
}

.modal input[type="number"],
.modal input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;

    /* Add spacing between form elements */
}

.modal button {
    border: none;
}

.modal input[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    color: white;
    background-color: #0442a8;
    border-radius: 10px;
    transition: border-color 0.3s;
}

/* Add focus styles for the input fields */
.modal input[type="text"]:focus {
    border-color: #0442a8;
}

/* FORM CSS */
.left-div {
    align-items: center;
    flex: 1;
    padding: 10px;
}

.right-div {
    align-items: center;
    flex: 1;
    padding: 10px;
}

.recipe-form {
    padding-left: 20px;
    display: flex;
}

.recipe-form input[type="number"],
.recipe-form input[type="text"] {
    width: 300px;
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.recipe-form input[type="number"]:focus,
.recipe-form input[type="text"]:focus {
    border-color: #0442a8;
}

.recipe-form input[type="datetime-local"] {
    width: 300px;
    padding: 10px 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.recipe-form input[type="datetime-local"]:focus {
    border-color: #0442a8;
}

select {
    padding: 10px 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Style for the options within the select element */
select option {
    padding: 6px;
}

.delete-recipe {
    font-size: 12px;
}

#change-date {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #0442a8;
}

.delete-container:hover .delete-icon,
.delete-container:hover .delete-text {
    color: red;
    transition: color 0.2s;
}

.delete-icon,
.delete-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.delete-container {
    color: #0442a8;
    cursor: pointer;
}


/* FOR PRODUCT LIST */
.add-product-button {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0px;
    transition: 0.3s;
    font-size: 16px;
    color: gray;
    width: 100%;
}

.add-product-button:hover {
    background-color: rgba(4, 66, 168, 0.2);
}

.product-item:first-child {
    margin-top: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.234);
}

.product-item {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.234);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item .product-icon {
    margin-left: 5px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    /* Add this */
    align-items: start;
}

/* Initial colors for the icons */
.fa-edit {
    color: #0442a8;
}

.fa-trash {
    color: #0442a8;
}

/* Hover colors for the icons */
.fa-edit:hover {
    transition: color 0.2s;
    color: orange;
}

.fa-trash:hover {
    color: red;
    transition: color 0.2s;
}


/* 
.icon-container {
    align-self: center;
} */

/* The Modal */
#alertModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 102;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content #alertModal {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgba(4, 66, 168, 1);
    width: 30%;
    height: 50%;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

/* Updating the recipeForm styles to work with productForm */
#productForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Create two columns for the form */
#productForm .form-row {
    display: flex;
    justify-content: space-between;
}

#productForm .left-div,
#productForm .right-div {
    align-items: center;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.modal input[type="date"],
.modal textarea {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.modal textarea {
    resize: vertical;
    /* Allows user to resize textarea vertically */
}

.modal input[type="date"]:focus,
.modal textarea:focus {
    border-color: #0442a8;
}

#productModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 102;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
#productModalContent {
    background-color: #fefefe;
    margin: 2% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgba(4, 66, 168, 1);
    width: 70%;
    height: 85%;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

.product-price-group {
    display: flex;
    flex-direction: column;
}

.price-container {
    display: flex;
    align-items: start;
}

.price-container select,
.price-container input[type="number"] {
    border: 2px solid #ccc;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s;
    border-radius: 10px;
}

.price-container input[type="number"]:focus,
.price-container select:focus {
    border-color: #0442a8;
}

.price-container select {
    width: 100px;
    margin-right: 10px;
}

.client-color-group {
    display: flex;
    flex-direction: column;
}

.client-color-container {
    display: flex;
    align-items: start;
}

.client-color-container select,
.client-color-container input[type="text"] {
    border: 2px solid #ccc;
    padding: 10px;
    outline: none;
    transition: border-color 0.3s;
    border-radius: 10px;
}

.client-color-container input[type="text"]:focus,
.client-color-container select:focus {
    border-color: #0442a8;
}

.client-color-container select {
    width: 100px;
    margin-right: 10px;
}