<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="text">Purchase Orders</div>
        <div class="top-menu">
            <input type="text" placeholder="Search Recipes">
            {% if user_role != "manager" %}
                <a href="#">
                    <button id="createPO">Create Purchase Order</button>
                </a>
            {% endif %}
        </div>
    </div>
</body>
</html>
