<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Recipe Profile | Farmland Bakery (M) Sdn. Bhd. </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  {% include 'sidebar.html' %}
  <section class="home-section">
    {% include 'recipe_header.html' %}
    <div class="main-content">
      {% include 'recipe_table.html' %}
    </div>
  </section>
  <div id="recipeModal" class="modal">
    <div class="modal-content" id="recipeModalContent">
        <div id="modal-header">
            <span class="close" id="closeRecipeModal">&times;</span>
            <h1>Create New Recipe</h1>
        </div>
        <form id="recipeProfileForm" method="post" action="{% url 'create_recipe' %}">
            {% csrf_token %}
            <div class="left-div">
                <label for="recipeName">Recipe Name</label><br>
                <input type="text" id="recipeName" name="recipeName" required autocomplete="off"><br><br>
                <label for="productionRate">Production Rate</label><br>
                <input type="number" id="productionRate" name="productionRate" required autocomplete="off"><br><br>
            </div>
            <div class="right-div">
                <label for="stdBatchSize">Standard Batch Size</label><br>
                <input type="number" id="stdBatchSize" name="stdBatchSize" required autocomplete="off"><br><br>
                <label for="cycleTimeVariable">Cycle Time Variable</label><br>
                <input type="text" id="cycleTimeVariable" name="cycleTimeVariable" required autocomplete="off" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" placeholder="00:00:00" value="00:00:00"><br><br>
                <input type="submit" id="createRecipeSubmit" value="Create Recipe">
            </div>
          </form>
    </div>
</div>

<div id="recipeEditModal" class="modal">
  <div class="modal-content" id="recipeEditModalContent">
      <div id="modal-header">
          <span class="close" id="closeRecipeEditModal">&times;</span>
          <h1>Create New Recipe</h1>
      </div>
      <form id="recipeEditProfileForm" method="post" action="{% url 'update_recipe' %}">
          {% csrf_token %}
          <input type="hidden" name="recipeId" id="recipeId" value="{{ recipe.id }}">
          <div class="left-div">
              <label for="recipeName">Recipe Name</label><br>
              <input type="text" id="recipeName" name="recipeName" required autocomplete="off"><br><br>
              <label for="productionRate">Production Rate</label><br>
              <input type="number" id="productionRate" name="productionRate" required autocomplete="off"><br><br>
          </div>
          <div class="right-div">
              <label for="stdBatchSize">Standard Batch Size</label><br>
              <input type="number" id="stdBatchSize" name="stdBatchSize" required autocomplete="off"><br><br>
              <label for="cycleTimeVariable">Cycle Time Variable</label><br>
              <input type="text" id="cycleTimeVariable" name="cycleTimeVariable" required autocomplete="off" pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}" placeholder="00:00:00" value="00:00:00"><br><br>
              <input type="submit" id="createRecipeSubmit" value="Create Recipe">
          </div>
        </form>
  </div>
</div>

<div id="productModal" class="modal product-modal">
  <div class="modal-content" id="productModalContent">
     <div id="modal-header">
        <span class="close" id="closeProductModal">&times;</span>
        <h1>Recipe Product</h1>
     </div>
     <div id="addProductSection">
     <form id="newProductForm">
      <input type="hidden" id="recipeId" name="recipeId">
      <div class="form-columns">
          <div class="left-div">
              <!-- Product Name -->
              <label for="productName">Product Name</label><br>
              <input type="text" id="productName" name="productName" required autocomplete="off"><br><br>
  
              <!-- Product Price Group -->
              <div class="product-price-group">
                  <label for="productPrice">Product Price</label>
                  <div class="price-container">
                      <select id="currency" name="currency">
                          <option value="SGD">SGD</option>
                          <option value="MYR">MYR</option>
                      </select>
                      <input type="number" id="productPrice" step="0.01" name="productPrice">
                  </div>
              </div><br>
  
              <!-- Weight Value -->
              <label for="client">Client</label><br>
              <div class="client-value">
                  <select id="client" name="client">
                      <option value="GFS">GFS</option>
                      <option value="GBKL">GBKL</option>
                  </select><br>
              </div><br>
          </div>
  
          <div class="right-div">
              <!-- Number of Slices -->
              <label for="noOfSlices">No. of Slices</label><br>
              <input type="number" id="noOfSlices" name="noOfSlices" required autocomplete="off"><br><br>
  
              <!-- Thickness -->
              <label for="thickness">Thickness</label><br>
              <input type="text" id="thickness" name="thickness" required autocomplete="off"><br><br>

              <!-- Weight Value -->
              <label for="weight">Weight Value</label><br>
              <div class="weight-value">
                  <select id="weight" name="weight">
                      <option value="20" data-weight="300">300g</option>
                      <option value="20" data-weight="400">400g</option>
                      <option value="15" data-weight="500">500g</option>
                      <option value="12" data-weight="600">600g</option>
                  </select><br>
              </div><br>
              
              <input type="submit" value="Add New Product">
          </div>
      </div>
  </form>
  </div>
  <br>
  <hr>
  <br>
  <div id="productListSection">
    <div id="modal-header">
      <h1>Product List</h1>
   </div>
    <div id="productList">
      <!-- Product list will be dynamically inserted here -->
    </div>                                         
  </div>
</div>
</div>
  <script src="{% static 'js/sidebar.js' %}"></script>
  <script src="{% static 'js/recipe.js' %}"></script>
</body>
</html>